a {
    text-decoration: none;
}

.hxr-hoverxref {
  border-bottom: 0px;
  color: LightCoral;
}

div.content {
    min-width: 1000px;
}
/*     margin-left: auto; */
/*     margin-right: auto; */


/* aside.sidebar-drawer { */
/*     max-width: 400px; */
/* } */
/* aside.toc-drawer { */
/*     max-width: 400px; */
/* } */
